section {
    margin-bottom: 5rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction:column;
    background: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 3%;
    padding-left: 3%;
    position: relative;
    overflow-x: hidden;
}


.cards li {
    padding: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoCard {
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 200px;
    max-height: 100px;
}

.card {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-right: 3%;
    padding-left: 3%;
    position: relative;
}


.card h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    color: gold;
    padding-bottom: 3%;
    text-align: center;
}

.card h2,
.card p {
    text-align: center;

}

.cards img {    
    width: 24vw;
    height: 28vw;
    object-fit: cover;
    border-radius: 15px;

}

.cards button {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededef;
}

.addRemove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;;
}
