.mainMenu {
    padding: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainMenu button {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainMenu img {
    width: 4vh;
    height: 4vh;
}

#shopCart {    
    background: #FF6900;
    width: 8vh;
    height: 8vh;
    border-radius: 50px;
    top: -50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 1px 3px hsl(0, 0%, 35%));
    border-width: 0px;
    border-style: outset;
    border-image: initial;
    cursor: pointer;
}
img.imgShopCart  {
    width: 57%;
    height: 57%;
}

#shopCart:focus {
    outline: none;
    border: 10px solid #dadada;
    box-shadow: 0 0 10px #9ecaed;
}