.foodSlider {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

/* .foodSlider img {
    max-width: 20px;
} */

ul.foodSlider{
    /* position: relative; */
}

.foodSlider li {
    position: relative;
    border: 1px solid transparent;
    box-shadow: grey;
    max-width: 20px;
    max-height: 20px;
}

.foodSlider img {
    max-width: 8vh;
}


/* #tapas:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/tapas.svg');
    width: 100%;
    height: 100%;
}


#desayunos:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/breakfast.svg');
    width: 100%;
    height: 100%;

}


#ensaladas:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/salad.png');
    width: 100%;
    height: 100%;

}

#almuerzos:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/fastfood.svg');
    width: 100%;
    height: 100%;

}

#cena:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/dinner.svg');
    width: 100%;
    height: 100%;

}

#postres:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/fastfood.svg');
    width: 100%;
    height: 100%;
    
}

#bebidas:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/bebidas.svg');
    width: 100%;
    height: 100%;

}

#todos:before {
    content: url('https://andreabcm.github.io/Proyecto-final/img/slider/all.svg');
    width: 100%;
    height: 100%;

} */